.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #04699c;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .05rem;
    bottom: -.2rem;
    left: 0;
    background-color: #0e82bb;
    transform-origin: bottom right;

  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .dropdown-item:hover{
    background-color:#fdf9f9;
  }
  .a:hover {
    color:black;
    }
  
    

.dropdown:hover .dropdown-content {
  display: block;
  
}


.arro {
  transition: transform .1s ease-in-out;
}
.arro:hover  {
  transform: rotate(-90deg) rotate(90deg);
}
svg:not(:root) {
  overflow: hidden;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}