{% extends 'base.html'  %}
{% block index  %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/bodycss.css' %}">
    <style>
 
    </style>
    <div class=" overflow-hidden rounded mx-1  " >
      <div class=" row text-center  justify-content-center" style="font-weight: 600; background-color: #fff; padding: 11px; margin-bottom: 3px;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%); border-bottom: 1px;">
     
     
        <div class="col  justify-content-center">
            <a class="text-decoration-none" href="" style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2 ">Top offers</div>
            </a>
          </div>
    
          <div class="col " >
            <a  class="text-decoration-none"href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Grocery</div>
            </a>
          </div>
          <div class="col ">
            <a  class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Mobiles</div>
            </a>
          </div>
          <div class="col dropdown ">
            <a  class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Fashion
                  <i class="arrow down"style="  border: solid black;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  margin-left: 5px;
                  margin-bottom: 2px;"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-content "  style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff;border-top-left-radius: 0px; margin-top: 160px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: -189px; width: 256px; height:456px; will-change: transform;" >
              <img id="drop_dwn triangle "src="{% static 'img/tr.png' %}" style="box-shadow:0 -5px 12px rgb(0 0 0 / 3%); transform: rotateY(0deg) rotate(45deg); width: 81px; right: -45px; position: fixed;">
              <div class=" dropdown-item" style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  ">
                Men's Top Wear
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 51px;cursor: pointer; ">
              Men's Bottom Wear
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
              Women Ethnic
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
               Women Western
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                Men Footwear
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                Women footwear
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                Watches and Accessories
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                Bag, Suitcases & Luggage
               </div>
              </div>


              <div class="dropdown-menu dropdown-content "  style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; border-top-left-radius: 0px;border-top-right-radius: 0px;margin-top: 160px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: 66px; width: 261px; height:456px; will-change: transform;" >
                <div class="dropdown-item" style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  ">
                 
                Men's T-Shirts
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 51px;cursor: pointer; ">
                  
                Men's Casual Shirts
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
                 
                  Men's Formal Shirts
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
                 
                  Men's kurtas
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                 
                  Men's Ethnic sets
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                 
                  Men's Blazers
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                 
                  Men's Raincoat
                </div>
                <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                 
                  Men's Windcheater
                </div>
 
                </div>
          </div>
          <div class="col dropdown">
            <a  class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Electronics
                  <i class="arrow down"style="  border: solid black;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  margin-left: 5px;
                  margin-bottom: 2px;"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-content "  style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; margin-top: 160px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: -130px; width: 256px; height:456px; will-change: transform;" >
              <img id="drop_dwn triangle "src="{% static 'img/tr.png' %}" style="box-shadow: 0 93px 26px rgb(0 0 0 / 3%); transform: rotateY(0deg) rotate(45deg); width: 81px; right: 13px; position: fixed;">
              <div class="dropdown-item dropdown" style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  "data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           
                  <a class="">
                  Audio
                    </a>
                <div class="dropdown-menu  show " style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; margin-top: -36px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: 234px; width: 256px; height:456px; will-change: transform;" >

                  <div class=" dropdown-item" style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  ">
                    
                  Bluetooth Headphones
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 51px;cursor: pointer; ">
                   
                  Wired Headphones
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
                  
                    True Wireless Earbuds
                  </div>
                  <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
                   
                    Bluetooth Speakers
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                    Soundhars
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                    Home Theatres
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                    TV Streaming Device
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                    Remote Control
                   </div>
                  </div>
              
              </div>
              <div class="dropdown dropdown-item " style="position: absolute; margin-top:20px; padding: 15px; margin-top: 51px;cursor: pointer; ">
                <a class="dropbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  
                Cameras & Accessories
             </a>
                <div class="dropdown-menu" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; margin-top: -96px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: 236px; width: 256px; height:456px; will-change: transform;" >
  
                    <div class="dropdown-item" style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  ">
                      
                    DSLR & Mirrorless
                    </div>
                    <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 51px;cursor: pointer; ">
                      
                    Sports & action 
                    </div>
                    <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
                     
                      Point & Shoot
                    </div>
                    <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
                      
                      Instant Camaras
                    </div>
                    <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                      
                      Camcorders
                    </div>
                    <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                      
                      Camera tripods
                    </div>
                    <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                      
                      Camera Lenses
                    </div>
                    <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                      
                      Drone
                   
                  </div>
                    </div>
                  </div>
    
              <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
               
                Computer Peripherals
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
               
                Gaming
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                Soundhars
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                Home Theatres
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                TV Streaming Device
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                Remote Control
               </div>
              </div>
          </div>
          <div class="col ">
            <a  class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Home
                 
                </div>
            </a>
          </div>
          <div class="col dropdown">
            <a class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Appliances
                  <i class="arrow down"style="  border: solid black;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  margin-left: 5px;
                  margin-bottom: 2px;"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-content "  style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; margin-top: 160px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: -130px; width: 256px; height: 446px; will-change: transform;" >
              <img id="drop_dwn triangle "src="{% static 'img/tr.png' %}" style="box-shadow: 0 93px 26px rgb(0 0 0 / 3%); transform: rotateY(0deg) rotate(45deg); width: 91px; right: 13px; position: fixed;">
              <div class=" dropdown-item " style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  "data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   
                
              Televisions
              
             
                <div class="dropdown-menu " style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; margin-top: -57px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: 243px; width: 256px; height:446px; will-change: transform;" >

                  <div class=" dropdown-item " style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  ">
                  
                  Notification Preferences
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 51px;cursor: pointer; ">
                   
                  24x7 Customer Care
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
                  
                    Advertise
                  </div>
                  <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
                    
                    Download App
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                    Soundhars
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                    Home Theatres
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                    TV Streaming Device
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                    Remote Control
                   </div>
                  </div>
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px; padding: 15px; margin-top: 51px;cursor: pointer; ">
              <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                
              Washing Machines
           
              <div class="dropdown-menu " style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border: #fff; margin-top: -98px; position: fixed; transform: translate3d(0px, 35px, 0px); top: 0px; margin-left: 237px; width: 256px; height:446px; will-change: transform;" >

                  <div class="dropdown-item" style="position: absolute ;padding: 15px; margin-top: -5px; cursor: pointer;  ">
                   
                  Not
                  </div>
                  <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 51px;cursor: pointer; ">
                    
                  24x7 Customer Care
                  </div>
                  <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
                   
                    Advertise
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
                   
                    Download App
                  </div>
                  <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                    Soundhars
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                    Home Theatres
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                    TV Streaming Device
                   </div>
                   <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                    Remote Control
                   </div>
                </div>
                  </div>
              </div>
              <div class=" dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 108px;cursor: pointer; ">
               
                Air Conditioners
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 165px;cursor: pointer; ">
                
                Refrigerators
              </div>
              <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 222px;cursor: pointer; ">
                Kitchen Appliances
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 279px;cursor: pointer; ">
                Home Applocan
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 336px;cursor: pointer; ">
                Seasonal Appliances
               </div>
               <div class="dropdown-item" style="position: absolute; margin-top:20px;padding: 15px; margin-top: 393px;cursor: pointer; ">
                Premium Appliances
               </div>
              </div>
          </div>


          <div class="col  ">
            <a  class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100" class="rounded-circle " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">travel</div>
            </a>
          </div>
          <div class="col ">
            <a  class="text-decoration-none" href=""style="font-size: 14px;">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" class="rounded-circle   " alt="Cinque Terre" width="79" height="79">
                <div class="text1  my-2">Beauty,Toys & More</div>
            </a>
          </div>
      </div>
    </div>
    
    
    
    
    <div id="carouselExampleControls" class="carousel slide my-2" data-ride="carousel">
        <div class="carousel-inner" style="width:100%; height: 46vh;">
          <div class="carousel-item active">
            <img class="img-fluid " src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4" alt="First slide" style="width:100%; height: 46vh; padding: 8px;">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" alt="Second slide"style="width:100%; height: 46vh; padding: 8px;">
          </div>
          <div class="carousel-item">
            <img class="img-fluid " src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840" alt="Third slide" style="width:100%; height: 46vh;  padding: 8px;">
          </div>
        </div>
        <div class="carosel-control">
          <img src="{% static 'img/tr.png' %}" style="width: 47px;height: 119px; margin-top: -35px; right: -8px; position: relative; top: -189px; border-top-right-radius: .2rem; border-bottom-right-radius: .2rem;  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);transition: opacity .1s ease-in;">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true" style=" margin-top: -175px; margin-left: -164px"></span>
          </a>
          </div>
          <div class="carosel-control-2">
            <img src="{% static 'img/tr.png' %}" style=" width: 47px;height: 119px; margin-top: -35px; left: 1448px; position: relative; top: -274px; border-top-left-radius: .2rem; border-bottom-left-radius: .2rem; box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);transition: opacity .1s ease-in;">
             <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style=" margin-top: -175px; margin-left: 164px"></span>
            </a>
          </div>
      </div>





     
        <div class="row">
          <div class="col-md-8 " style="background-color: #fff; width: 80%; height: 74px;margin-left: 21px; margin-top: -170px;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);border-top-left-radius: .2rem;border-top-right-radius: .2rem;">
            <h2 style="color: #000; font-weight: 600;line-height: 154px;font-size: 22px; margin-left: 12px; margin-top: -43px;font-family: Roboto,Arial,sans-serif; display: inline-block">Deals of the Day</h2>
            <img class="img " src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/timer_a73398.svg" height="24" width="24" style="margin-left: 24px;">
            <a style="color: #7f7f7f; margin-left: 8px;">03 : 26 : 32 Left</a>
            <div  style="color: #fff; background-color: #2874f0; margin-left: 726px;border: none;display: inline-block;
            border-radius: .2rem;
            padding: 10px 20px;
            font-size: 13px;
            font-weight: 500;
            transition: box-shadow .2s ease;
            vertical-align: super;
            cursor: pointer;
            outline: none;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
            border: 1px solid #e0e0e0;
            margin-top: 14px;">
            <a>
              VIEW ALL
            </a>
            </div>
          </div>


          <div class="carousel-inner col-md-8 "style="background-color: #fff; width: 80%; height: 298px; margin-left: 21px; margin-top: -95px;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);border-bottom-left-radius: .2rem;border-bottom-right-radius: .2rem;" >
          <div class=" carousel-item active">
            <div class="card" style="width: 11rem;margin-top: 13px;">
              <img src="https://rukminim1.flixcart.com/image/150/150/k0463rk0/bedsheet/9/h/m/printed-double-bedsheet-sfp15drgb89-flat-metro-living-original-imafjz95xcgfczyw.jpeg?q=70" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build </p>
              </div>
            </div>
            <div class=" carousel-item active">
              <div class="card" style="width: 11rem;margin-top: -279px;margin-left: 202px;">
                <img src="https://rukminim1.flixcart.com/image/150/150/k0463rk0/bedsheet/9/h/m/printed-double-bedsheet-sfp15drgb89-flat-metro-living-original-imafjz95xcgfczyw.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build </p>
                </div>
              </div>
              
            </div>
            <div class=" carousel-item active">
              <div class="card" style="width: 11rem;margin-top: -279px; margin-left: 400px;">
                <img src="https://rukminim1.flixcart.com/image/150/150/k0463rk0/bedsheet/9/h/m/printed-double-bedsheet-sfp15drgb89-flat-metro-living-original-imafjz95xcgfczyw.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build </p>
                </div>
              </div>
              
            </div>
            <div class=" carousel-item active">
              <div class="card" style="width: 11rem;margin-top: -279px;margin-left: 608px;">
                <img src="https://rukminim1.flixcart.com/image/150/150/k0463rk0/bedsheet/9/h/m/printed-double-bedsheet-sfp15drgb89-flat-metro-living-original-imafjz95xcgfczyw.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build </p>
                </div>
              </div>
              
            </div>
            <div class=" carousel-item active">
              <div class="card" style="width: 11rem;margin-top: -279px; margin-left: 808px;">
                <img src="https://rukminim1.flixcart.com/image/150/150/k0463rk0/bedsheet/9/h/m/printed-double-bedsheet-sfp15drgb89-flat-metro-living-original-imafjz95xcgfczyw.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build </p>
                </div>
              </div>
              
            </div>
            <div class=" carousel-item active">
              <div class="card" style="width: 11rem;margin-top: -279px; margin-left: 1008px">
                <img src="https://rukminim1.flixcart.com/image/150/150/k0463rk0/bedsheet/9/h/m/printed-double-bedsheet-sfp15drgb89-flat-metro-living-original-imafjz95xcgfczyw.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>

    
       

      


        
        <div class="col-md-3"style="background-color: #fff; height: 372px;;margin-top:-170px;  margin-left: 19px;width:16%; box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);border-top-left-radius: .2rem;;border-top-right-radius: .2rem;border-bottom-left-radius: .2rem;border-bottom-right-radius: .2rem;" >
          <img class="_14mA3H" src="https://rukminim1.flixcart.com/flap/464/708/image/a60eb148185597ad.jpg?q=70" alt="01Feb-RFM-RFMob-RHS-UnmissableDeal" style="    max-width: 106%;
          max-height: 100%;
          margin-top: 6px;
          margin-left: -7px;">
      </div>
  
    




      <div class="row">
        <div class="col-md-8 " style="background-color: #fff; width: 81%; height: 74px;margin-left: 21px; margin-top: 13px;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);border-top-left-radius: .2rem;border-top-right-radius: .2rem;">
          <h2 style="color: #000; font-weight: 600;line-height: 154px;font-size: 22px; margin-left: 12px; margin-top: -43px;font-family: Roboto,Arial,sans-serif; display: inline-block">Deals of the Day</h2>
          <img class="img " src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/timer_a73398.svg" height="24" width="24" style="margin-left: 24px;">
          <a style="color: #7f7f7f; margin-left: 8px;">03 : 26 : 32 Left</a>
          <div  style="color: #fff; background-color: #2874f0; margin-left: 726px;border: none;display: inline-block;
          border-radius: .2rem;
          padding: 10px 20px;
          font-size: 13px;
          font-weight: 500;
          transition: box-shadow .2s ease;
          vertical-align: super;
          cursor: pointer;
          outline: none;
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
          border: 1px solid #e0e0e0;
          margin-top: 14px;">
          <a>
            VIEW ALL
          </a>
          </div>
        </div>
     

</div>



{% endblock %}